<html>
<body>
	<header>
		<h1>Welcome to Hogwarts!</h1>
		<a href="/students">go home</a>
	</header>
	<h3>Search for a student:</h3>
	<form action="/search" method="post">
	<input type="text" name="name" placeholder="student name" required>
	<button>SEARCH</button>
	</form>
</body>
</html>